useDynLib(pdfoxide, .registration = TRUE, .fixes = "C_")
export(pdf_from_markdown, pdf_from_html, pdf_from_text, pdf_save, pdf_to_bytes)
export(pdf_open, pdf_open_with_password, pdf_open_from_bytes, pdf_close, pdf_page_count, pdf_version, pdf_is_encrypted)
export(pdf_has_structure_tree, pdf_extract_text, pdf_to_plain_text)
export(pdf_to_markdown, pdf_to_html, pdf_extract_structured_json, pdf_to_markdown_all)
export(pdf_to_html_all, pdf_to_plain_text_all, pdf_authenticate)
export(pdf_page, pdf_page_text, pdf_page_markdown, pdf_page_html, pdf_page_plain_text)
export(pdf_extract_chars, pdf_extract_words, pdf_extract_text_lines, pdf_extract_tables)
