useDynLib(pdfoxide, .registration = TRUE, .fixes = "C_")
export(pdf_from_markdown, pdf_from_html, pdf_from_text, pdf_save, pdf_to_bytes)
export(pdf_open, pdf_open_with_password, pdf_open_from_bytes, pdf_close, pdf_page_count, pdf_version, pdf_is_encrypted)
export(pdf_has_structure_tree, pdf_extract_text, pdf_to_plain_text)
export(pdf_to_markdown, pdf_to_html, pdf_extract_structured_json, pdf_to_markdown_all)
export(pdf_to_html_all, pdf_to_plain_text_all, pdf_authenticate)
export(pdf_page, pdf_page_text, pdf_page_markdown, pdf_page_html, pdf_page_plain_text)
export(pdf_extract_chars, pdf_extract_words, pdf_extract_text_lines, pdf_extract_tables)
export(pdf_embedded_fonts, pdf_embedded_images, pdf_page_annotations, pdf_extract_paths)
export(pdf_search, pdf_search_all)
export(pdf_render_page, pdf_render_page_zoom, pdf_render_page_thumbnail)
export(pdf_rendered_image_save, pdf_rendered_image_close)
export(pdf_editor_open, pdf_editor_open_from_bytes, pdf_editor_close)
export(pdf_editor_page_count, pdf_editor_version, pdf_editor_is_modified, pdf_editor_source_path)
export(pdf_editor_get_producer, pdf_editor_set_producer)
export(pdf_editor_get_creation_date, pdf_editor_set_creation_date)
export(pdf_editor_delete_page, pdf_editor_move_page)
export(pdf_editor_rotate_page_by, pdf_editor_rotate_all_pages)
export(pdf_editor_get_page_rotation, pdf_editor_set_page_rotation, pdf_editor_crop_margins)
export(pdf_editor_get_page_crop_box, pdf_editor_set_page_crop_box)
export(pdf_editor_get_page_media_box, pdf_editor_set_page_media_box)
export(pdf_editor_apply_all_redactions, pdf_editor_apply_page_redactions)
export(pdf_editor_is_page_marked_for_redaction, pdf_editor_unmark_page_for_redaction)
export(pdf_editor_erase_region, pdf_editor_erase_regions, pdf_editor_clear_erase_regions)
export(pdf_editor_flatten_forms, pdf_editor_flatten_forms_on_page, pdf_editor_set_form_field_value)
export(pdf_editor_flatten_annotations, pdf_editor_flatten_all_annotations)
export(pdf_editor_flatten_warnings_count, pdf_editor_flatten_warning)
export(pdf_editor_is_page_marked_for_flatten, pdf_editor_unmark_page_for_flatten)
export(pdf_editor_merge_from, pdf_editor_merge_from_bytes, pdf_editor_convert_to_pdf_a)
export(pdf_editor_embed_file, pdf_editor_extract_pages_to_bytes)
export(pdf_editor_save, pdf_editor_save_to_bytes, pdf_editor_save_to_bytes_with_options)
export(pdf_editor_save_encrypted, pdf_editor_save_encrypted_to_bytes)
